@model string
<br />
<div id="message" class="alert alert-success" role="alert">@Model</div>
<p>
    <a asp-controller="Home" asp-action="Index">Continue Shopping</a>
</p>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
